@import  './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.hidden{
    display: none;
}


body {
    background: rgba(245, 245, 245, 1);
    scroll-behavior: smooth;
}

.product-filter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 1);

    .product-count {
        h1 {
            font-size: 16px;
            font-weight: 300;
            line-height: 19.09px;
            text-align: left;

            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.09px;
                text-align: left;

            }
        }

    }

    .product-types {
        display: flex;
        gap: 40px;
        align-items: center;
        text-align: center;

        label {
            font-size: 16px;
            font-weight: 300;
            line-height: 19.09px;
            text-align: left;
            display: flex;
            gap: 5px;
            cursor: pointer;

            input[type="radio"] {
                display: none;

                &:checked+.custom-radio {
                    background-color: $red-color;
                    border-color: $red-color;
                }
            }

            .custom-radio {
                width: 16px;
                height: 16px;
                border: 2px solid #999;
                border-radius: 50%;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: background-color 0.2s ease;
                }
            }

            input[type="radio"]:checked+.custom-radio::after {
                background-color: white;
            }
        }
    }

    .product-select {
        select {
            background: #fff;
            outline: none;
            border: #fff;
            padding: 10px;

        }
    }
}

.left-nav {
    margin-top: 24px;
    border: 1px solid $gray-color;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 212px;
    .product-sections {
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 13px;
        align-items: left;
        text-align: left;
        width: inherit;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-color;
        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            text-decoration: none;
            color: #000;

            &:hover {
                color: $red-color;
            }
        }
    }
    .filter-byPrice{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 13px;
        align-items: left;
        text-align: left;
        width: inherit;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-color;
        h1{
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            text-decoration: none;
            color: #000;
        }
        .sec-control{
            display: flex;
            align-items: center;
            gap: 10px;
            .img{

            }
        }
    }
}


// .register {
//     position: absolute;
//     left: 100px;
//     width: 265.7px;
//     height: 269px;
//     background: url(./images/png/idish-tovoqlar.png);
//     background-repeat: no-repeat;
//     .container {
//         .register-content {
//             h2 {
//                 font-family: 'inter';
//                 font-size: 24px;
//                 font-weight: 700;
//                 line-height: 28.64px;
//                 text-align: center;
//             }

//             .register-bottom {
//                 width: 100%;
//                 display: flex;
//                 justify-content: flex-end;
//                 .register-left {}
//                 .register-right {
//                     display: flex;
//                     flex-direction: column;

//                     h3 {
//                         font-family: 'inter';
//                         font-size: 20px;
//                         font-weight: 400;
//                         line-height: 23.87px;
//                         text-align: center;
//                         margin-bottom: 18px;
//                     }

//                     button {
//                         margin-top: 18px;
//                         width: 296.21px;
//                         height: 50px;
//                         border-radius: 1px 0px 0px 0px;
//                         border: none;
//                         background: #E24C55;

//                         p {
//                             font-family: SF Pro Display;
//                             font-size: 18px;
//                             font-weight: 500;
//                             line-height: 21.48px;
//                             text-align: center;
//                             color: white;
//                         }
//                     }

//                     .register-right-inputs {
//                         margin-bottom: 7px;

//                         p {
//                             font-family: 'inter';
//                             font-size: 16px;
//                             font-weight: 300;
//                             line-height: 19.09px;
//                             text-align: left;
//                         }

//                         input {
//                             width: 294px;
//                             height: 39px;
//                             border: 1px solid #E24C55;
//                             background-color: #E8E8E8;

//                         }


//                     }

//                     .register-right-checkbox {
//                         display: flex;
//                         margin-top: 13px;
//                         p {
//                             font-family: 'Inter';
//                             width: 200px;
//                             font-size: 12px;
//                             font-weight: 400;
//                             line-height: 14.32px;
//                             color: red;
//                             width: 300px;
//                             height: 15px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
footer {
    background: #333333;

    .container {
        .footer-content {
            .footer-top {
                img {
                    padding-bottom: 7.85px;
                }

                margin-bottom: 21.6px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .line {
                    width: 100%;
                    border: 1px solid #FFFFFF
                }
            }

            .footer-center {
                display: flex;

                .footer-texts {
                    .white {
                        margin-bottom: 20px;
                        font-family: "Inter";
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19.09px;
                        color: #FFFFFF;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    p {
                        color: #FFFFFF;
                        font-family: "Inter";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;
                        margin-left: 21px;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    .p2 {
                        margin-bottom: 10px;
                    }

                    .p3 {
                        margin-top: 41px;
                    }
                }

                .footer-te {
                    margin-right: 30px;
                }

                .footer-tex {
                    margin-right: 100px;
                }
                .footer-t{
                    margin-right: 50px;
                }

                .footer-kontact {
                    .pp {
                        margin-bottom: 10px;
                        .pp1 {
                            font-family: "Inter";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.71px;
                            transition: 1s;
                            cursor: pointer;
                            &:hover{
                                color: salmon;
                            }
                        }

                        .pp2 {
                            font-family: "Inter";
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 16.71px;
                        }
                    }
                    
                    .i-t{
                        display: flex;
                        margin-bottom: 10px;
                    }
                    .i-t2{
                        display: flex;
                    }

                    p {
                        color: #FFFFFF;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    .white {
                        margin-bottom: 20px;
                        font-family: "Inter";
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19.09px;
                        color: #FFFFFF;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }
                }
            }

            .footer-bottom {
                .line {
                    margin-top: 23px;
                    width: 100%;
                    border: 1px solid #FFFFFF;
                    margin-bottom: 15px;
                }

                .end {
                    display: flex;
                    justify-content: space-between;

                    .orta {
                        text-align: center;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    .bosh {
                        margin-left: 11px;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    .oxiri {
                        margin-right: 80px;
                        transition: 1s;
                        cursor: pointer;
                        &:hover{
                            color: salmon;
                        }
                    }

                    p {
                        color: #FFFFFF;
                        max-width: 300px;
                        font-family: "Inter";
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 16.88px;

                        span {
                            color: #FFFFFF;
                            font-family: "Inter";
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16.88px;
                        }
                    }
                }
            }
        }
    }
}